PORT=3333
NODE_ENV=development

# DATABASE
POSTGRES_DB=shortenedLinks
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shortenedLinks"
DB_CONTAINER_URL="postgresql://postgres:postgres@db:5432/shortenedLinks"

# CLOUDFARE
CLOUDFARE_ACCOUNT_ID="#"
CLOUDFARE_ACCESS_KEY_ID="#"
CLOUDFARE_SECRET_ACCESS_KEY="#"
CLOUDFARE_BUCKET="#"
CLOUDFARE_PUBLIC_URL="https://localhost"
